
@{
    ViewData["Title"] = "Home Page";
}


    <a href="/Home/TrainPhoto" class="btn btn-primary btn-lg btn-block">Training Photo</a>
    <a href="/Home/RecognizeImage" class="btn btn-secondary btn-lg btn-block">Recognize</a>